/**
 * @file
 * Styling for toolbar check message.
 */

.toolbar-check {
  overflow: hidden;
  margin: 0.5em 0;
  padding: 0.5em 2em 0.5em 2.3333em;
  text-indent: -1000px;
  background: url(../../../../core/misc/icons/73b355/check.svg) no-repeat center center transparent;
  background-size: auto 20px;
}

.toolbar-check:hover {
  color: #000;
}

@media only screen and (min-width: 40em) {
  .toolbar-check {
    padding-right: 1em; /* LTR */
    text-decoration: none;
    text-indent: 0;
    color: #000;
    border-color: #f4daa6;
    border-radius: 4px;
    background-color: #fdf8ed;
    background-position: 0.5em center; /* LTR */
    background-size: auto 18px;
    font-weight: bold;
  }
  [dir="rtl"] .toolbar-check {
    padding-right: 2em;
    padding-left: 1em;
    background-position: right 0.5em center;
  }
}
